body {
    line-height: 1.5;
    letter-spacing: -.025em;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    color: rgba(255,255,255,.8);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    transition: background-color 1s ease .5s,color 1s ease .5s;
    font-family: px_sans_nouveaux;
    background-color: teal
}

body,html {
    height: 100%;
    overflow: hidden
}

.start-bar {
    padding: 2px;
    box-shadow: inset 1px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    z-index: 99999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.start-button {
    background-image: url(pic/start-button.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 14px
}

.start-button-wrapper {
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 6px 3px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
    min-width: 59px;
    margin-right: 6px;
    color: #000
}

.made-by,.start-bar-window {
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: Arial;
    font-weight: 400;
    color: #000
}

.start-bar-window {
    float: left;
    padding: 0 10px 0 6px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: inset 1px 1px grey;
}

.made-by {
    float: right;
    text-align: right;
    padding: 0 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray
}

#uidesktop {
    position: absolute;
    left: 20px;
    top: 20;
    width: 72px;
    z-index: 9999;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
}

.icon {
    text-align: center;
    vertical-align: top;
    width: 72px;
    z-index: 0;
    line-height: 12px;
    margin: 0;
    padding: 15px 1px;
    display: flex;
    flex-direction: column; 
}

a {
    text-decoration: none;
    color: #ffffff;
    image-rendering: 'pixelated';
    text-align: center;
  }

  #paint {
    width: 540px;
    height: 374px;
    z-index: 0;
    padding: 1px 4px 1px;
    background-color: silver;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf,1px 0 #000,0 1px #000,1px 1px #000;
    min-width: 59px;
    margin-right: 6px;
    color: #000;
    position: absolute;
   left: 220px; /* Горизонтальный сдвиг */
   top: 25px; /* Вертикальный сдвиг */
  }

  .winhed {
    height: 22px;
    position: relative;
    text-align: left;
    color: #fff;
    padding: .15em .60em;
    line-height: 1.3;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 2px solid silver;
    border-bottom: 1px solid silver;
    background: navy;
    padding: 1%;
}